mediapipe
jupyterlab
scikit-learn
scikit-image
marimo
ipympl

vispy
jupyter_rfb
pyqtgraph==0.12.3
pyqt5==5.14.1
pyopengl

dlib # http://robot.inf.um.es/material/va/dlib-19.24.2-cp311-cp311-linux_x86_64.whl
face_recognition

pymde
keras

yt-dlp
pyzbar
# tesserocr

package/   # umucv


######################################################################

# pip install jaxlib --force-reinstall -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

# pip install ultralytics
# pip uninstall opencv-python opencv-contrib-python
# pip install opencv-contrib-python

